
<div class="col">
<div class="card h-100">
  <div class="card-header d-flex" style="height: 100px;">
    <h5 class="me-auto"><%= truncate(idea.title, length:60) %></h5>
    <h5><span class="badge bg-info"><%= idea.comments.count -%></span></h5>
  </div>
  <div class="card-body">
    <p class="card-text text-left" style="height: 100px;">
      <%= truncate(idea.content, length: 100) %>
    </p>
    <p class="card-text">
      <% idea.realms.each do |realm| %>
        <span class="badge text-black" style="background-color: #<%= realm.color -%>"><%= realm.title %></span>
      <% end %>
    </p>
  </div>
  <div class="card-footer text-muted d-grid gap-2">
    <%= link_to "More…", idea, class: "btn btn-outline-primary btn-sm" %>
    <small>Created by: <%= idea.student_number %> on <%= idea.created_at.strftime("%d/%m/%Y") %></small>
  </div>
</div>
</div>
