<%= turbo_frame_tag "new_idea", target: "_top" do %>
  <%= form_with(model: idea) do |form| %>
    <% if idea.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

        <ul>
          <% idea.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <%= form.label :title, class: "col-sm-2 col-form-label col-form-label-sm" %>
      <div class="col-sm-10">
        <%= form.text_field :title, class: "form-control form-control-lg" %>
      </div>
    </div>
    <div class="row mb-3">
      <%= form.label :content, class: "col-sm-2 col-form-label col-form-label-sm" %>
      <div class="col-sm-10">
        <%= form.text_area :content, class: "form-control form-control-lg" %>
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0 col-form-label-sm">Realms</legend>
      <div class="col-sm-10">
      <%= form.collection_check_boxes :realm_ids, Realm.all, :id, :title do |realm| %>
        <div class="form-check">
          <%= realm.check_box(class: "form-check-input") %>
          <span class="badge text-black"><%= realm.label(class: "form-check-label") %></span>
        </div>
      <% end %>
      </div>
    </fieldset>

    <div>
      <%= form.hidden_field :student_number, value: current_student %>
    </div>


    <div class="d-grid">
      <%= form.submit "Submit", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
<% end %>
