<p style="color: green"><%= notice %></p>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 p-4 gy-5">
  <div class="col col-md-12 col-lg-4 bg-gradient-light order-last">
    <% if Rails.configuration.x.slate.is_accepting_ratings %>
    <% if logged_in? && !@is_owner %>
      <h1>Rating</h1>
      <% unless @has_rated %>
      <div>
        <%= render 'ratings/form' %>
      </div>
      <% end %>
      <% if @has_rated %>
      <div>
        <p>You have already rated this idea! You gave it this rating:</p>
        <h4>Impact: <%= @rating.impact %></h4>
        <h4>Viability: <%= @rating.viability %></h4>
        <%= button_to "Delete Rating", @rating, :method => :delete, class: "btn btn-danger btn-lg w-100" %>
      </div>
      <% end %>
    <% end %>
    <% end %>
    <% if Rails.configuration.x.slate.is_accepting_comments %>
    <div class="d-flex">
      <div class="me-auto">
        <h1>Comments</h1>
      </div>
      <div>
        <h1><span class="badge bg-info"><%= @idea.comments_count -%></span></h1>
      </div>
    </div>
  <% if logged_in? %>
    <%# turbo_frame_tag "new_comment", src: idea_comment_path(@idea), target: "_top" %>
    <%= render 'comments/form' %>
  <% end %>
    <ul class="list-group list-group-flush mt-3">
      <%= render @idea.comments, content_type: "text/html" %>
    </ul>
  </div>
    <% end %>
  <div class="col col-md-12 col-lg-8">
    <div class="d-grid gap-2 mt-3">
      <%= link_to "Back to ideas", ideas_path, class: "btn btn-outline-primary btn-lg" %>
    </div>
    <h1 class="display-1"><%= @idea.title %></h1>
    <p class="lead">
      <%= @idea.content %>
    </p>
    <% @idea.realms.each do |realm| %>
      <span class="badge text-black" style="background-color: #<%= realm.color -%>"><%= realm.title %></span>
    <% end %>
    <hr />
    <%= mail_to @idea.user.email, 'Contact ideator', subject: @idea.title, class: 'btn btn-warning btn-lg w-100' %>
    <hr />
    <%# if current_student == @idea.student_number.to_s %>
    <% if current_user == @idea.user %>
    <div class="hstack gap-2 mx-auto">
      <%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-warning btn-lg w-100" %>
      <%= button_to "Delete", @idea, :method => :delete, class: "btn btn-danger btn-lg w-100" %>
    </div>
    <% if Rails.configuration.x.slate.is_accepting_ratings %>
    <div>
      <h2>Ratings</h2>
      <p>
        Here is the feedback from your cohort. Please remember that their rating of your idea is <em>not</em> a rating about you.
      </p>
      <%= scatter_chart @ratings_data, xtitle: "Impact", ytitle: "Viability", min: -5, max: 5, xmin: -5, xmax: 5, height: "500px", empty: "No data" %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
