<%= turbo_frame_tag "new_comment", target: "_top" do %>
<div class="d-grid gap-2">
  <%= form_with model:[ @idea, @idea.comments.build ] do |form| %>
    <div class="vstack gap-2 mx-auto">
      <%= form.text_area :content, class: "form-control form-control-lg" %>
      <div>
        <%= form.hidden_field :student_number, value: current_student %>
      </div>
      <%= form.submit "I'm being constructive", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
<% end %>
