<nav class="navbar sticky-top navbar-expand-lg" style="background-color: white;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex" href="/">
      <i class="bi bi-lightbulb" style="color: orange;"></i>
      SLATE
    </a>

    <div class="nav">
      <ul class="nav me-auto mb-2 mb-lg-0">
        <% if Rails.configuration.x.slate.is_accepting_ideas %>
        <li class="nav-item">
          <%= link_to "Ideas", :ideas, class: "nav-link active" %>
        </li>
        <% end %>
        <% if Rails.configuration.x.slate.is_accepting_pitches %>
        <li class="nav-item">
          <%= link_to "Pitches", :ideas, class: "nav-link" %>
        </li>
        <% end %>
        <% if Rails.configuration.x.slate.is_accepting_projects %>
        <li class="nav-item">
          <%= link_to "Projects", :ideas, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
      <% if logged_in? %>
      <div class="navbar-text">
        <span class="text-secondary">Current student: <%= current_student -%></span>
        <%= link_to "Log out", logout_path, class: "btn btn-outline-warning btn-sm" %>
      </div>
      <% else %>
      <div class="navbar-text">
        <%= form_for(:session, url: login_path, class: "d-flex") do |form| %>
          <%= form.text_field :student_number, class: 'form-control form-control-sm me-2',  'placeholder': "Student Number", 'aria-label': "Student Number", 'type': "number" %>
          <%= form.submit "Log in", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</nav>
